<a href="https://colab.research.google.com/github/BitanGh/udemy/blob/main/Holiday_Package_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/content/Travel.csv')
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

Data Cleaning

In [3]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [4]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [5]:
df['ProductPitched'].value_counts()

ProductPitched
Basic           1842
Deluxe          1732
Standard         742
Super Deluxe     342
King             230
Name: count, dtype: int64

In [6]:
df['Occupation'].value_counts()

Occupation
Salaried          2368
Small Business    2084
Large Business     434
Free Lancer          2
Name: count, dtype: int64

In [7]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [8]:
#Replace Fe male with Female in Gender
df['Gender'] = df['Gender'].replace('Fe Male','Female')
df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [9]:
df['MaritalStatus'] = df['MaritalStatus'].replace('Single','Unmarried')
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [10]:
#want to have the exact percentage of NaN value from each categry
df.isnull().sum()/len(df)*100

CustomerID                  0.000000
ProdTaken                   0.000000
Age                         4.623568
TypeofContact               0.511457
CityTier                    0.000000
DurationOfPitch             5.135025
Occupation                  0.000000
Gender                      0.000000
NumberOfPersonVisiting      0.000000
NumberOfFollowups           0.920622
ProductPitched              0.000000
PreferredPropertyStar       0.531915
MaritalStatus               0.000000
NumberOfTrips               2.864157
Passport                    0.000000
PitchSatisfactionScore      0.000000
OwnCar                      0.000000
NumberOfChildrenVisiting    1.350245
Designation                 0.000000
MonthlyIncome               4.766776
dtype: float64

In [11]:
#Filling Null values with median and mode

#Age
df['Age'] = df['Age'].fillna(df['Age'].median())

#Type of contract with mode
df['TypeofContact'] = df['TypeofContact'].fillna(df['TypeofContact'].mode()[0])

#Duration of Pitch
df['DurationOfPitch'] = df['DurationOfPitch'].fillna(df['DurationOfPitch'].median())

#Number of follow ups with mode
df['NumberOfFollowups'] = df['NumberOfFollowups'].fillna(df['NumberOfFollowups'].mode()[0])
#Preferred property star
df['PreferredPropertyStar'] = df['PreferredPropertyStar'].fillna(df['PreferredPropertyStar'].mode()[0])
#No of trips with median
df['NumberOfTrips'] = df['NumberOfTrips'].fillna(df['NumberOfTrips'].median())
#No of children visiting with mode
df['NumberOfChildrenVisiting'] = df['NumberOfChildrenVisiting'].fillna(df['NumberOfChildrenVisiting'].mode()[0])
#Monthly income with median
df['MonthlyIncome'] = df['MonthlyIncome'].fillna(df['MonthlyIncome'].median())

In [12]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

Featured Engineering

In [13]:
#drop customer id
df.drop('CustomerID',axis=1,inplace=True)

In [14]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [15]:
df['TotalVisiting'] = df['NumberOfChildrenVisiting'] + df['NumberOfPersonVisiting']
df.drop(['NumberOfChildrenVisiting','NumberOfPersonVisiting'],axis=1,inplace=True)

In [16]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Unmarried,7.0,1,3,0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [17]:
#get all the numeric features
numeric_features = [i for i in df.columns if df[i].dtype != 'O']
len(numeric_features)

12

In [18]:
#categorical Features
categorical_features = [i for i in df.columns if df[i].dtype == 'O']
len(categorical_features)

6

In [19]:
#Getting Discrete categories
discrete_features = [i for i in numeric_features if len(df[i].unique()) <= 25]
len(discrete_features)

9

In [20]:
#Continious Features
continious_features = [i for i in numeric_features if i not in discrete_features]
len(continious_features)

3

In [21]:
#Train test split
from sklearn.model_selection import train_test_split
X = df.drop(['ProdTaken'],axis=1)
y = df['ProdTaken']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
X_train.shape, X_test.shape

((3274, 17), (1614, 17))

In [22]:
categorical_features = X.select_dtypes(include='object').columns
numeric_features = X.select_dtypes(exclude='object').columns
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
num_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')
preprocessor = ColumnTransformer(
    [("OneHotEncoder",oh_transformer,categorical_features),
    ("StandardScaler",num_transformer,numeric_features)]
)

In [26]:
#applying preprocessor for training data
X_train_processed = preprocessor.fit_transform(X_train)
pd.DataFrame(X_train_processed)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.483420,-0.161387,1.280351,-0.725158,-0.674414,-0.637936,-0.776562,0.783328,-0.160488,0.635436
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.708239,-0.527642,-0.721975,0.527040,-0.674414,1.567556,-0.047645,-1.276604,-1.139309,-0.780778
2,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,...,-0.708239,0.815290,0.279188,1.779238,-0.130564,-0.637936,0.681272,0.783328,2.269527,2.051650
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,-0.708239,2.036137,0.279188,-0.725158,-0.130564,1.567556,-0.047645,0.783328,1.030274,0.635436
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.708239,-1.015980,1.280351,0.527040,2.588687,-0.637936,-0.047645,0.783328,-0.478024,0.635436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3269,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.708239,-0.649726,1.280351,-0.725158,-0.674414,-0.637936,-1.505478,0.783328,-0.531758,0.635436
3270,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.483420,-0.893896,-0.721975,1.779238,-1.218264,-0.637936,1.410189,0.783328,1.503770,-0.072671
3271,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.483420,1.547798,0.279188,-0.725158,2.044837,-0.637936,-0.776562,0.783328,-0.358012,0.635436
3272,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.483420,1.791968,1.280351,-0.725158,-0.130564,-0.637936,-1.505478,0.783328,-0.251854,0.635436
3273,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,-0.708239,-0.771811,0.279188,-0.725158,-1.218264,1.567556,-0.047645,-1.276604,-1.069099,-1.488884

In [27]:
X_test_processed = preprocessor.transform(X_test)
pd.DataFrame(X_test_processed)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.483420,-0.283472,1.280351,-0.725158,-1.218264,-0.637936,-0.776562,-1.276604,-0.729282,-0.780778
1,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.387590,-0.527642,0.279188,0.527040,-1.218264,1.567556,1.410189,-1.276604,-0.663191,-0.072671
2,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.483420,0.815290,0.279188,-0.725158,0.957136,-0.637936,1.410189,0.783328,-0.417363,-0.780778
3,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,-0.708239,2.524476,2.281514,-0.725158,1.500986,-0.637936,-0.047645,0.783328,-0.114805,0.635436
4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.483420,-1.015980,0.279188,0.527040,-0.130564,1.567556,0.681272,0.783328,-0.315137,2.051650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,-0.708239,-0.893896,-0.721975,-0.725158,-0.674414,-0.637936,1.410189,-1.276604,-0.952269,0.635436
1610,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.483420,0.937375,1.280351,1.779238,1.500986,-0.637936,1.410189,0.783328,0.142632,0.635436
1611,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,-0.708239,-1.138065,-2.724301,-0.725158,-0.130564,-0.637936,-1.505478,-1.276604,1.558066,-1.488884
1612,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.708239,-1.015980,0.279188,1.779238,0.957136,-0.637936,-1.505478,-1.276604,-0.424290,0.635436
1613,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,-0.708239,2.280306,-0.721975,-0.725158,-0.674414,-0.637936,-0.047645,-1.276604,-0.522023,0.635436

In [28]:
#RandomForest, metrices
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [29]:
#Training
models = {
    "Random Forest": RandomForestClassifier()

}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train_processed,y_train)

In [30]:
y_test_pred = model.predict(X_test_processed)
y_train_pred = model.predict(X_train_processed)

In [31]:
model_train_accuracy = accuracy_score(y_train,y_train_pred)
model_test_accuracy = accuracy_score(y_test,y_test_pred)

In [33]:
model_train_accuracy, model_test_accuracy

(1.0, 0.9182156133828996)

In [34]:
#Hyperparameter
rf_params = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2'],
    'bootstrap': [True, False]



}

In [41]:
randomcv_models = [
     ('Random Forest',RandomForestClassifier(), rf_params)
]

In [44]:
from sklearn.model_selection import RandomizedSearchCV
model_params = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                param_distributions=params,
                                n_iter=100,
                                cv=3,
                                verbose=2,
                                n_jobs=-1)
    random.fit(X_train_processed,y_train)
    model_params[name] = random.best_params_
for model_name in model_params:
    print(f"Best parameters for {model_name}:")
    print(model_params[model_name])
    print("="*50)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_validation.py:540: FitFailedWarning:
120 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
54 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.10/dist-packages/sklearn/base.py", line 1466, in wrapper
    estimator._validate_params()
  File "/usr/local/lib/python3.10/dist-packages/sklearn/base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "/usr/local/lib/python3.10/dist-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
66 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.10/dist-packages/sklearn/base.py", line 1466, in wrapper
    estimator._validate_params()
  File "/usr/local/lib/python3.10/dist-packages/sklearn/base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "/usr/local/lib/python3.10/dist-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_search.py:1103: UserWarning: One or more of the test scores are non-finite: [0.90684186 0.85858349 0.88515426        nan 0.87232843        nan
        nan 0.85186267 0.87415965 0.89248614 0.86499683 0.8659123
        nan        nan 0.89981691 0.87049581 0.89615054 0.86347086
 0.89645635        nan 0.86683001        nan 0.87446658        nan
        nan 0.86866347 0.85705724 0.86957922 0.85888986 0.88576532
 0.88698716 0.88118377 0.85216876 0.8677466         nan        nan
 0.89340385        nan        nan 0.89340245 0.85644562 0.86774576
 0.86744135 0.86194404 0.90164897        nan        nan        nan
 0.86102801        nan 0.85583484 0.84667034 0.86102717 0.87141072
 0.86682945 0.8695795         nan 0.8665256         nan        nan
 0.87293921 0.8802669  0.86224818        nan 0.88912419 0.89340273
 0.86896592        nan 0.88362773        nan        nan 0.89095905
 0.85858321        nan 0.89523423        nan        nan 0.87079938
        nan        nan 0.89004106        nan 0.90225975        nan
        nan        nan 0.87415993        nan 0.87354915 0.86713442
        nan        nan 0.88882202 0.89462401 0.86072248        nan
 0.87110603        nan        nan        nan]
  warnings.warn(

Best parameters for Random Forest:
{'n_estimators': 300, 'min_samples_split': 5, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': 20, 'bootstrap': False}
==================================================